<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistema da clinica medica</title>
    <link rel="stylesheet" href="css/css-home.css">
</head>
<body>
    <header class="header-home">
        <a href="home.html"><img src="img/estetoscopio.png" alt="" class="home-volt"></a>

        <div class="btns-loca">
        <button class="btn-login"><a href="" class="link-menu">Cadastrar-se</a></button>
            <button class="btn-login"><a href="login.html" class="link-menu">Realizar login</a></button>
        </div>
    </header>
    <main class="main">
        <h1 class="title-home">Bem-vindo à clinica medicu</h1>
        <h2 class="title-2">Cuidando da sua saúde com excelência e dedicação.</h2>
        <p class="para-vc">Na clinica medicu acreditamos que a saúde vem em primeiro lugar. Nossa equipe de profissionais altamente qualificados está pronta para oferecer um atendimento humanizado e personalizado, garantindo o bem-estar de você e sua família.</p>
        <h3 class="title-3">Nossos serviços:</h3>
        <ol class="list">
            <li class="line">Consultas médicas especializadas</li>
            <li class="line">Exames laboratoriais e de imagem</li>
            <li class="line">Atendimento emergencial</li>
            <li class="line">Acompanhamento preventivo</li>
        </ol>
        <p class="para-vc">Estrutura moderna, tecnologia de ponta e um ambiente acolhedor para que você se sinta seguro e confortável.</p>

        <button class="call-action"><a href="" class="link-menu">Venha marcar um consulta</a></button>
    </main>

</body>
</html>