@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-home {
    width: 100%;
    padding: 20px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-volt {
    width: 60px;
}

.box {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.form {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-input {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
}

.label {
    font-weight: 500;
    font-size: 1em;
}

.input{
    width: 100%;
}

.btn-login {
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    color: black;
    background-color: rgba(0, 153, 255, 0.527);
}

.imgs {
    width: 50%;
    height: 100%;
    border-left: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.title-login {
    font-weight: 500;
}