.banner {
  width: 100%;
  height: 300px;
  background-color: #EDF3FF;
  background-image: url('../img/medico-trans.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
}

.text-banner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 65%;
  padding: 0px 0px 0px 5px;
}

.title {
  font-size: 1.1rem;
}

.text-title {
  font-size: .9rem;
}

.btn-quero {
  background-color: #2342A1;
  padding: 5px 10px;
  font-weight: 600;
  color: #FFF;
  border: none;
  border-radius: 2px;
}
